<div class="jumbotron jumbotron-fluid jumbotron-pro">
    <div class="container">
        <h1 class="display-4">
            Global Azure Bootcamp 2019
        </h1>
        <p class="lead">
            27. April 2019, Wissensturm Linz
        </p>
        <p>
            Das weltweite Community-Event rund um Softwareentwicklung mit der Microsoft Azure Cloud.
        </p>
    </div>
</div>

<div class="jumbotron jumbotron-fluid jumbotron-next">
    <div class="container text-center">
        <h1>Wir sehen uns wieder am 24. April 2020!</h1>
        <p>Vielen Dank, dass ihr dieses Jahr beim Global Azure Bootcamp in Linz dabei wart. Wir freuen uns schon auf nächstes Jahr!
        </p>
        <p class="text-center">
            <a class="btn btn-primary btn-lg"
                href="https://www.globalazurebootcamp.at/" role="button">
                Zum Global Azure Bootcamp 2020
            </a>
        </p>

    </div>
</div>