---
layout: default
---

<div class="session-info">Weitere Speakers und Sessions folgen in den nächsten Wochen.</div>

{% assign sorted_pages = site.pages | sort:"title" %}
{% for page in sorted_pages %}
	{% if page.page-category == "session" or page.page-category == "junior-session" %}
        <h1 class="speaker-title">{{ page.title }}<br/>
            {% if page.page-category == "session" %}
                <span class="badge badge-pill badge-primary">Azure Bootcamp</span>
            {% else %} 
                <span class="badge badge-pill badge-success">Junior Bootcamp</span>
            {% endif %}
        </h1>

		{% if page.image != null %}
		<img class="rounded float-right" src="{{ site.baseurl }}/speaker/images/{{ page.image }}" alt="{{ page.title}} Logo" />
		{% endif %}

        {{ page.content | markdownify }}

        {% assign speakers = page.speaker-id | split: ' ' %}
        {% for speaker in speakers %}
            {% for speakerpage in site.pages %}
                {% if speakerpage.page-category == "speaker" and speakerpage.url contains speaker %}
                <span class="session-speaker">
                    <a href="{{ site.baseurl }}{{ speakerpage.url }}"><img class="session-speaker" src="{{ site.baseurl }}/speaker/images/{{ speakerpage.image }}" alt="{{ speakerpage.title}} Logo" /></a>&nbsp;
                    <a href="{{ site.baseurl }}{{ speakerpage.url }}">{{ speakerpage.title }}</a>
                </span>
                {% endif %}
            {% endfor %}
        {% endfor %}
	{% endif %}
{% endfor %}