html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 90px;
  margin-top: 60px;
}

a {
    color: #0094ff;
}

.btn-primary {
    background-color: #0094ff;
    border-color: #0094ff;
    text-transform: uppercase;
    font-size: 16px;
}

.btn-primary.btn-sm {
    font-size: 14px;
}

.jumbotron {
    background-position: center top;
    color: #fff;
}

.jumbotron-pro {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(/global-azure-bootcamp-2019/assets/Audience.jpg);
    border-bottom: solid 1px #0094ff;
}

.jumbotron-junior {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(/global-azure-bootcamp-2019/assets/Junior-Audience.jpg);
    border-bottom: solid 1px #0094ff;
}

.jumbotron-next {
    background-color: #0094ff;
    margin-top: -4rem;
}

.jumbotron-next a.btn-primary {
    background-color: #fff;
    color: #000;
}

.jumbotron-next p {
    margin-top: 2rem;
}

.jumbotron-next a.btn-primary:hover {
    background-color: #ddd;
}

.navbar {
    background-color: #fff!important;
    text-transform: uppercase;
    font-size: 16px;
    border-bottom: solid 1px #0094ff;
    font-weight: normal;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 500;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 48px;
    background-color: #0094ff;
    color: #fff;
    text-transform: uppercase;
    /* border-top: solid 1px #0094ff; */
}

.footer a, .footer a:hover {
    color: #fff;
}

img.float-right {
    margin-left: 15px;
}

h1 {
    margin-top: 25px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: normal;
}

h1 .speaker-company {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bolder;
    text-transform: none;
}

h1:first-of-type {
    margin-top: 90px;
}

h1.speaker-title:not(:first-of-type) {
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

.speaker-details i, .speaker-sessions i {
    width: 30px;
    color: #0094ff;
    line-height: 24px;
    font-size: 14px;
}

.speaker-sessions {
    margin-left: 0;
}

.jumbotron h1:first-of-type {
    margin-top: 25px;
}

h2 {
    margin-top: 30px;
    text-transform: uppercase;
    font-size: 18px;
}

h3 {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 16px;
}

img.speaker {
    width: 100%;
    max-width: 220px;
    border-radius: 50%;
}

span.session-speaker {
    margin-right: 20px;
}

img.session-speaker {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.program {
    font-size: 13px;
}

.program div.break > div, .program div.sessions > div {
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* .junior-program div.sessions {
    margin-right: -60px;
}

.junior-program div.break > div, .junior-program div.sessions > div {
    border-right: 20px solid #fff;
    border-bottom: 20px solid #fff;
} */

.program div.sessions > div {
    cursor: pointer;
}

.program div.sessions > div a {
    color: #212529;
    text-decoration: underline;
}

.program div.break > div {
    background-color: #e0e0e0;
}

.program div.break > div:nth-child(5n+2), .program div.break > div:nth-child(5n+3), .program div.break > div:nth-child(5n+4), .program div.break > div:nth-child(5n+5) {
    font-weight: bolder;
    font-size: smaller;
    text-align: center;
    line-height: 19.5px;
}

/* .program div.sessions:first-of-type {
    font-weight: bolder;
} */

.junior-program div.sessions:first-of-type {
    font-weight: normal;
}

.program div.sessions > div {
    background-color: #eee;
}

.program div.sessions .expand-content {
    background-image: linear-gradient(to bottom, transparent, #eee 75%);
}

.program div.sessions > div.selected .expand-content {
    background-image: linear-gradient(to bottom, transparent, #B2EBF2 75%);
}


/* .program div.sessions > div:nth-child(5n+1) {
    background-color: #e0e0e0;
}

.program div.sessions > div:nth-child(5n+2) {
    background-color: #B2EBF2;
}

.program div.sessions > div:nth-child(5n+3) {
    background-color: #FFF59D;
}

.program div.sessions > div:nth-child(5n+4) {
    background-color: #FFECB3;    
}

.program div.sessions > div:nth-child(5n+0) {
    background-color: #E6EE9C;
}

.program div.sessions > div.not-yet-defined {
    background-color: #FFECB3;
    cursor: default;
}

.junior-program div.sessions > div {
    background-color: #FFF59D!important;
}

.program h2 {
    background-color: #e0e0e0;
    padding: 5px 20px;
    font-size: 1.5rem;
} */

.program > h2 > p {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: normal;
}

.program h3 {
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.program-session-container {
    position: relative;
    height: 100%;
    margin-bottom: 50px;
}

.program.junior-program .program-session-container {
    margin-bottom: 0;
}

.program-session-container .program-session-selected.add {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
}

.program-session-container .program-session-selected.remove {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    display: none;
}

.program div.sessions > div.selected {
    background-color: #B2EBF2;
}

.program div.sessions > div.selected .program-session-selected.add {
    display: none;
}

.program div.sessions > div.selected .program-session-selected.remove {
    display: block;
}

.program-session-content {
    overflow: hidden;
    margin-bottom: 1rem;
}

.program-session-selected {
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.program-session-selected .badge {
    font-size: 12px;
    padding: 5px 10px;
    background-color: #999;
}

.program-session-selected .badge:hover {
    background-color: #0094ff;
}

.program-session-selected i {
    /* font-size: 24px; */
}

.expand-content {
    position: absolute;
    width: 100%;
    left: 0;
    margin-top: -3rem;
    padding-top: 2rem;
    text-align: center;
}

.collapse-content {
    position: absolute;
    width: 100%;
    left: 0;
    margin-top: -3rem;
    padding-top: 1rem;
    text-align: center;
}

/* session preview */
.session-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -10px;
}

.session-item {
    margin: 10px;
    width: 250px;
    background-color: #eee;
    padding: 20px;
    position: relative;
    flex-grow: 1;
}

.session-item h3 {
    margin-bottom: 5px;
}

.session-item p, .session-item ul {
    font-size: 13px;
}
/* .program div.sessions > div:nth-child(5n+2) .expand-content {
    background-image: linear-gradient(to bottom, transparent, #B2EBF2 75%);
}

.program div.sessions > div:nth-child(5n+3) .expand-content {
    background-image: linear-gradient(to bottom, transparent, #FFF59D 75%);
}

.program div.sessions > div:nth-child(5n+4) .expand-content {
    background-image: linear-gradient(to bottom, transparent, #FFECB3 75%);  
}

.program div.sessions > div:nth-child(5n+0) .expand-content {
    background-image: linear-gradient(to bottom, transparent, #E6EE9C 75%);
} */

.collapse-content+.program-session-speakers {
    margin-top: calc(30px - 1rem);
}

.expand-content a, .collapse-content a {
    text-decoration: none;
}

.expand-content i, .collapse-content i { 
    color: #000;
    opacity: 0.7;
    font-size: 16px;
}

.program-session-speakers {
    margin-top: 30px;
    /* margin-bottom: 30px; */
}

.card-deck {
    margin-right: -30px;
}

.card {
    margin-left: 0!important;
    margin-right: 30px!important;
    margin-top: 20px;
    min-width: calc((100% - 4 * 30px) / 4);
    max-width: calc((100% - 4 * 30px) / 4);
}

.junior-session {
    font-size: 0.8rem;
}

h1 .badge-pill {
    font-size: 14px;
    font-weight: normal;
    padding-left: 15px;
    padding-right: 15px;
}

.badge-primary {
    background-color: #0094ff;
}

.card:hover {
    border: 1px solid #0275d8;
}

.card-footer {
    text-align: left;
    border: none;
}

.card-footer .details {
    float: right;
    text-align: right;
}

.sponsor-type {
    position: relative;
    border-radius: 10px;
    font-size: 14px;
    padding: 3px 15px;
    margin-left: 15px;
    top: -2px;
}

.sponsor-type.platinum {
    background-color: #e5e4e2;
}

.sponsor-type.gold {
    background-color: gold;
}

.sponsor-type.silver {
    background-color: silver;
}

.sponsor-type.bronze {
    background-color: #f09011;
}

.sponsor-type.organizer {
    background-color: #72bf44;
}

.session-list {
    list-style-type: none;
    padding-inline-start: 0;
}

.session-list li {
    margin-bottom: 15px;
}

.session-list .session-speaker {
    font-size: 14px;
}

.session-info {
    margin-top: 90px;
    margin-bottom: -50px;
    background-color: #eee;
    padding: 20px;
    font-weight: bold;
    text-align: center;
}

@media (max-width: 991px){
    .card {
        min-width: calc((100% - 3 * 30px) / 3);
        max-width: calc((100% - 3 * 30px) / 3);
    }
}

@media (max-width: 767px){
    .card {
        min-width: calc((100% - 2 * 30px) / 2);
        max-width: calc((100% - 2 * 30px) / 2);
    }

    div.row.break {
        font-size: larger;
        font-weight: bold;
        text-align: center;
    }

    .program div.sessions > div:first-of-type {
        font-size: larger;
        font-weight: bold;
        text-align: center;
    }
}

@media (max-width: 575px){
    .card-deck {
        margin-right: 0;
    }

    .card {
        margin-right: 0!important;
        min-width: 100%;
        max-width: 100%;
    }

    .expand-content i, .collapse-content i { 
        font-size: 24px;
    }
}